{% extends 'sellyoshit/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="row no-gutters w-100">
  <!-- Left pane: Conversations -->
  <div class="col-2 order-1">
    <div class="alert alert-light p-1" style="min-height: 800px; overflow-y: auto;">
      <ul class="list-group">
        <!-- Iterates through each thread and creates a box with a link to that thread -->
        {% for thread in threads %}
        <li class="list-group-item">
            {% if thread.user1 == user %}
            <a href="{% url 'view-threads' thread_id=thread.pk %}" id="message-card-link-user2">
              {{thread.user2.username}}
            </a>
            {% else %}
            <a href="{% url 'view-threads' thread_id=thread.pk %}" id="message-card-link-user1">
              {{thread.user1.username}}
            </a>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Right pane: messages -->
  <div class="col-10 order-2">
    <div class="alert alert-secondary" style="min-height: 800px;">
        <p><div style="display: inline;">Your conversation with:
          {% if current_thread.user1 == user %}
          {{current_thread.user2.username}}
          {% else %}
          {{current_thread.user1.username}}
          {% endif %}
        </div>
        <div style="display: inline;float: right">
            <!-- Form for rating the other user in the thread -->
            <form method="post" class="stars">{% csrf_token %}
                <button class="btn btn-primary" type="submit">Rate user</button>
                <input style="display: none;" id="_5" value=5 type="radio" name="rating">
                <label for="_5">&#x2606;</label><span>5</span>

                <input style="display: none;" id="_4" value=4 type="radio" name="rating">
                <label for="_4">&#x2606;</label><span>4</span>

                <input style="display: none;" id="_3" value=3 type="radio" name="rating">
                <label for="_3">&#x2606;</label><span>3</span>

                <input style="display: none;" id="_2" value=2 type="radio" name="rating">
                <label for="_2">&#x2606;</label><span>2</span>

                <input style="display: none;" id="_1" value=1 type="radio" name="rating">
                <label for="_1">&#x2606;</label><span>1</span>
            </form>
        </div>
        </p>
      <div id="scrollbar_messages" style="border-top:1px solid gray;border-bottom:1px solid gray;overflow-y: auto;height: 640px;">
        {% for message in current_messages %}
        <p style="font-size: x-small;" id="message_sent_date">{{message.sent}}:
          {% if message.sentfrom == user %}
          <br>
          <strong style="color: #519fff; font-size: 15px;">You: </strong>{{message.message}}
          {% else %}
          <br>
          <strong style="font-size: 15px;">{{message.sentfrom.username}}: </strong>{{message.message}}
          {% endif %}
        </p>
        {% endfor %}

      </div>
        <!-- Form for sending a message in this thread -->
        <form method="post">{% csrf_token %}
           {{ form.message|as_crispy_field }}
          <button class="btn btn-primary" type="submit">Send message</button>
        </form>
    </div>
  </div>
</div>
    <script>
    window.onload = function () {
        if ({{ rating.score }} != 0)
        {
             document.getElementById("_"+ {{ rating.score }} ).checked = true;
        }
    }
    </script>
{% endblock %}
