{% extends 'sellyoshit/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="row no-gutters w-100">
  <!-- Left pane: Conversations -->
  <div class="col-2 order-1">
    <div class="alert alert-light p-1" style="min-height: 800px; overflow-y: auto;">
      <ul class="list-group">
        <!-- Iterates through each thread and creates a box with a link to that thread -->
        {% for thread in threads %}
        <li class="list-group-item">
            {% if thread.user1 == user %}
            <a href="{% url 'view-threads' thread_id=thread.pk %}" id="message-card-link-user2">
              {{thread.user2.username}}
            </a>
            {% else %}
            <a href="{% url 'view-threads' thread_id=thread.pk %}" id="message-card-link-user1">
              {{thread.user1.username}}
            </a>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Right pane: messages -->
  <div class="col-10 order-2">
    <div class="alert alert-secondary" style="min-height: 800px;">
        <p>Your conversation with:
          {% if current_thread.user1 == user %}
          {{current_thread.user2.username}}
          {% else %}
          {{current_thread.user1.username}}
          {% endif %}
        </p>
      <div id="scrollbar_messages" style="border-top:1px solid gray;border-bottom:1px solid gray;overflow-y: auto;height: 640px;">
        {% for message in current_messages %}
        <p style="font-size: x-small;" id="message_sent_date">{{message.sent}}:
          {% if message.sentfrom == user %}
          <br>
          <strong style="color: #519fff; font-size: 15px;">You: </strong>{{message.message}}
          {% else %}
          <br>
          <strong style="font-size: 15px;">{{message.sentfrom.username}}: </strong>{{message.message}}
          {% endif %}
        </p>
        {% endfor %}

      </div>
        <!-- Form for sending a message in this thread -->
        <form method="post">{% csrf_token %}
           {{ form.message|as_crispy_field }}
          <button class="btn btn-primary" type="submit">Send message</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}

