<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
    {% block extra_head %}{% endblock %}
    <title>SellYo'Shit</title>
    <style>
        html,body {
            height: 100%;
            width: 100%;
        }
        .navborder{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .grid {
            display: grid;
            grid-template-columns: auto auto auto;
        }
    </style>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="../static/navbarlogo.png" width="35" height="35" class="d-inline-block align-top" alt="">
                SellYo'Shit
            </a>
            {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse mb-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Hjem<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mypage' %}">Min side</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_ad' %}">Ny annonse</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logg ut</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="collapse navbar-collapse mb-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Hjem<span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Registrer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logg inn</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
     </nav>

    <!-- Content div -->
    <div class="container-fluid">
        <!-- Left pane: functionality according to page -->
        <div class="row no-gutters">
            <div class="col-1 order-1">
                 <div class="alert alert-light" style="min-height: 800px;">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

            <!-- Right pane: ads -->
            <div class="col-11 order-2">
                <div class="alert alert-secondary" style="min-height: 800px;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>