<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SellYo'Shit</title>
</head>
<body>
    <div>
        <p>SellYo'Shit Home Page
            <br>

            <a href="{% url 'shop:products' %}">Product List</a>
            {% if request.user.is_authenticated %}
                <p>Velkommen, {{ request.user.firstname }} {{ request.user.lastname }} {% if user.admin %}Du er admin.{% endif %}</p>{% if user.admin %}<a href="{% url 'ademin' %}">Slett annonser</a> | {% endif %}<a href="{% url 'logout' %}">Logg ut</a>
            {% else %}
                | <a href="{% url 'login' %}">Logg in</a> | <a href="{% url 'signup' %}">Registrering</a>
            {% endif %}
        </p>

    </div>

</body>
</html>