<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>

<header>
    <a href="{% url "home" %}" style="text-decoration:none;">
        <h1>SellYo'Shit</h1>
    </a>
    <h2>Produktliste</h2>
    <p>Noe ekstra informasjon her</p>
  </header>

<body>
    <div class ="grid">
       {% for item in products %}
            <div>
                <a href="{% url 'shop:details' item.pk %}">

                    <img src="{{ item.image.url }}" type="ad"
                         alt="Product ad" style="width:400px;height:300px;border:0;"/>
                </a>

                <p> {{ item.name|upper }} - kr {{ item.price }} </p>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; første </a>|
                <a href="?page={{ page_obj.previous_page_number }}"> forrige</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">neste </a>|
                <a href="?page={{ page_obj.paginator.num_pages }}"> siste &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    <br>
</body>
</html>