{% extends 'sellyoshit/base.html' %}
<!-- This means the HTML file inherits everything from base.html. Code added to blocks from base.html will
 show up where they are declared in the super class-->
{% load static %}
<!-- Loads files from static folders. Necessary for CSS -->
{% block title %}My Title{% endblock %} <!-- Gives a title for the webpage via base.html -->

{% block extra_head %}
<!-- Adds more header info in base.html -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- Adds the style.css sheet found in static directory to the page -->
{% endblock %}

{% block content %}
<!-- Start of the content block found in base.html -->
         <h2><b> {{ ad.name }} </b></h2>
        <img src="{{ ad.image.url }}" type="ad"
                         alt="Product ad" style="width:100%;height:100%;border:0;"/>
        <!-- Must use .url from header_picture to get the correct path -->
        <p> Price: kr {{ad.price }}
        <br> Description
        <p/>
{% endblock %}