<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>

<header>
    <a href="{% url "home" %}" style="text-decoration:none;">
        <h1>SellYo'Shit</h1>
    </a>
    <h2><b> {{ ad.name }} </b></h2>

  </header>

<body>

        <img src="{{ ad.image.url }}" type="ad"
                         alt="Product ad" style="width:400px;height:100%;border:0;"/>
        <p> Price: kr {{ad.price }}
        <br> Description
        <p/>




</body>
</html>