<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <ol>
        {% for item in products %}
            <li>{{ item.name }} - kr {{ item.price }}</li>
                <a href="https://oldspice.com/">
                    <div class="img">
                        <img src="{{ item.image.url }}" type="ad"

                    </div>

                </a>

        {% endfor %}
    </ol>
</body>
</html>