<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<header>
    <h1>SellYo'Shit</h1>
    <h2>Product list</h2>
    <p>Some additional information here</p>
  </header>

<body>
    <div class ="grid">
       {% for item in products %}
            <div>
                <a href="https://oldspice.com/">

                    <img src="{{ item.image.url }}" type="ad"
                         alt="Product ad" style="width:400px;height:300px;border:0;"/>
                </a>

                <p> {{ item.name }} - kr {{ item.price }} </p>
            </div>
        {% endfor %}
    </div>
</body>
</html>