{% extends 'sellyoshit/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ad.product_name}} - {% endblock %}
{% load static %}
{% block extra_head %}
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

  <div class = "top_header" >
  </div>

  <div class = "ad_wrapper">
    <div id="advertisement_card" style="width: 30rem; height: 40rem;">
      <img src="{{ ad.header_picture.url }}" class="card-img-top" alt="Header picture" id="ad_picture" style="width:400px;" onerror="this.onerror=null;this.src='../media/ads/default.png';">
      <div class="card-body">
        <h4 class="card-title">{{ ad.product_name }}: {{ ad.price }} kr</h4>
        <h6 class="card-subtitle">
          Category: {{ ad.category }}
          <br>
          Sold by:
          <a href="{% url 'user_profile' pk=ad.seller.pk %}">{{ ad.seller.username }}</a>
        </h6>
        <p class="card-text">
          {{ ad.product_description }}
        </p>
        <a class="btn btn-primary" href="{% url 'edit_ad' pk=ad.pk %}" role="button">Edit ad</a>
        <a class="btn btn-primary" href="{% url 'delete_ad' pk=ad.pk %}" role="button">Delete ad</a>
        {% if ad.sold == 0 %}
        <a class="btn btn-primary" href="{% url 'sold_ad' pk=ad.pk %}" role="button">Sold</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

