<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'ads.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>fetch_add</title>
</head>
<!--<body>
    <h2><strong>Advertisement</strong>
            <br>
    </h2>
    <ol>
        <strong> {{adds.title}}</strong>
        <br>{{ adds.text }}
        <br>{{ adds.image }}

    </ol>

</body> -->
  <body>
    <h1>Advertisement</h1>
      {{ ad.publish }}
      <div>
        <p>Hallo og velkommen til en fantastisk ad!</p>
        <div id = "item">
          <span>
            <strong>Produkt: </strong>
          </span>
          <span>
            {{ad.produkt}}
          </span>
        </div>
        <div id = "text">
          <span>
            <strong>Pris: </strong>
          </span>
          <span>
            {{ad.produktbeskrivelse}}
          </span>
        <div id = "datoer">
          <span>
            <strong>Salgsdato: </strong>
          </span>
          <span>
            {{ad.published_date}}
          </span>
          <br>{{ ad.image }}
        </div>


  </body>
</html>