<!DOCTYPE html>
{% load static %} <!-- Loads static directory, necessary for CSS -->

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ad.product_name}} At SellYoShit</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/test_view.css' %}" type="text/css">
  </head>
  <body>
    <h1>Testing</h1>
      {% block one_ad %}
      {% endblock %}
  </body>
</html>