<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'ads.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
<P>You successfully submitted an add!</P>
<a href="http://127.0.0.1:8000/ads/ads/">View your add</a>

</body>
</html>